<form (ngSubmit)="save()" [formGroup]="userFormGroup" novalidate>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Formulario de contacto</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="mensaje">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="4" placeholder="Mensaje" formControlName="mensaje" required></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="respuesta">2 + 3 = ?</label>
                <input type="text" class="form-control" id="respuesta" placeholder="Respuesta" formControlName="respuesta" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</form>
